rapport_preliminaire/rapport_prelim.aux
rapport_preliminaire/rapport_prelim.fdb_latexmk
rapport_preliminaire/rapport_prelim.fls
rapport_preliminaire/rapport_prelim.log
rapport_preliminaire/rapport_prelim.out
rapport_preliminaire/rapport_prelim.synctex.gz
rapport_preliminaire/rapport_prelim.toc
modelisation_math/.ipynb_checkpoints/sim_polarisation-checkpoint.ipynb
modelisation_math/.ipynb_checkpoints/coeff_classique-checkpoint.png
modelisation_math/.ipynb_checkpoints
rapport_final/final.aux
rapport_final/final.fdb_latexmk
rapport_final/final.fls
rapport_final/final.log
rapport_final/final.out
rapport_final/final.synctex.gz
rapport_final/final.toc
rapport_preliminaire/rapport_prelim.bbl
rapport_preliminaire/rapport_prelim.blg
