rapport_preliminaire/rapport_prelim.aux
rapport_preliminaire/rapport_prelim.fdb_latexmk
rapport_preliminaire/rapport_prelim.fls
rapport_preliminaire/rapport_prelim.log
rapport_preliminaire/rapport_prelim.out
rapport_preliminaire/rapport_prelim.synctex.gz
rapport_preliminaire/rapport_prelim.toc
modelisation_math/.ipynb_checkpoints/sim_polarisation-checkpoint.ipynb
modelisation_math/.ipynb_checkpoints/coeff_classique-checkpoint.png
modelisation_math/.ipynb_checkpoints
